<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/semantic-ui/semantic.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}

    <div class="ui section divider"></div>

    <div class="ui text container">
        <img class="ui left floated small circular image" src="/img/vanessa.png">
        <p>This site was created by Vanessa da Silva. </p>
        <p>It uses data from mapbox.com and wheaterstack.com!</p>
    </div>

    {{>footer}}
</body>

</html>