<html>

<head>
    <title>About</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/semantic-ui/semantic.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="site">
    {{>header}}

    <div class="site-content">
        <div class="ui section divider"></div>

        <div class="ui text container">
            <h1>About the website</h1>

            <div class="ui container">
                <p>The backend was done with Node.js and styled using Semantic UI framework</p>
                <p>It uses data from mapbox.com and weatherstack.com to get the forecast.</p>
            </div>

            <div class="ui orange segment about-me">

                <div class="ui left floated basic segment">
                    <img class="ui small circular image" src="/img/vanessa.png">
                </div>
                <h2> Vanessa da Silva</h2>

                <div class="ui list">
                    <div class="item">
                        <i class="large github icon"></i>
                        <div class="content">
                            <a href="https://github.com/vanessavps?tab=repositories" target="_blank">GitHub</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large linkedin icon"></i>
                        <div class="content">
                            <a href="https://www.linkedin.com/in/vanessavps" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>