<div class="ui basic container segment">
    <header>
        <a href="/">
            <h1 class="ui center aligned icon header">
                <i class="yellow sun icon"></i>
                <div class="content">
                    Weather
                </div>
            </h1>
        </a>
    </header>
</div>