<div class="ui container">
    <header>
        <a href="/">
            <h1 class="ui center aligned icon header">
                <i class="circular yellow sun icon"></i>
                Weather
            </h1>
        </a>
    </header>
</div>