.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.ui[class*="left floated"].card {
  float: left;
  margin-right: 15px;
}

.about-me{
  overflow: auto;
}


.ui.list > .item:after {
  clear: none;
}

.item > .content {
  font-size: 18px;
}